<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
	<link href="{{ url_for('static', filename='styleroulette.css') }}" rel="stylesheet">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/lightbox.min.css">
    <script>
        function getDefi() {
            fetch("/get_defi")  // Appelle le serveur Flask
            .then(response => response.json())
            .then(data => {
                document.getElementById("defi").innerText = data.defi;
            });
        }
    </script>
</head>
<body>
    <h1>Roulette de Défis</h1>
    <button onclick="getDefi()">Obtenir un défi</button>
    <p id="defi"></p> 

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">upload</button>
    </form>
		<div class="image_container">
			<div class="gallery">
			 {% for image in images %}
            <a href="{{ url_for('static', filename='assets/' + image) }}" data-lightbox="models">
                <img src="{{ url_for('static', filename='assets/' + image) }}" loading="lazy" />
            </a>
            {% endfor %}
			</div>
		</div>
		<script src="static/lightbox-plus-jquery.min.js"></script>	
</body>
</html>
