<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
	<link href="{{ url_for('static', filename='styleroulette.css') }}" rel="stylesheet">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/lightbox.min.css">
    <script>
        function getDefi() {
            fetch("/get_defi")  // Appelle le serveur Flask
            .then(response => response.json())
            .then(data => {
                document.getElementById("defi").innerText = data.defi;
            });
        }
    </script>
</head>
<body>
    <h1>Roulette de Défis</h1>
    <button onclick="getDefi()">Obtenir un défi</button>
    <p id="defi"></p> 
		<div class="image_container">
			<div class="gallery">
				<a href="static/assets/IMG_20250108_152140_271.webp" data-lightbox="models">
					<img  src="static/assets/IMG_20250108_152140_271.webp"loading="lazy" /></a>
				<a href="static/assets/IMG-20250113-WA0025 (1).jpg" data-lightbox="models">
					<img  src="static/assets/IMG-20250113-WA0025 (1).jpg"loading="lazy"/></a>
				<a href="static/assets/IMG-20241115-WA0042.jpg" data-lightbox="models">
					<img  src="static/assets/IMG-20241115-WA0042.jpg" loading="lazy"/></a>
				<a href="static/assets/export 1-4.jpg" data-lightbox="models">
					<img  src="static/assets/IMG_20250202_234406_331.jpg"loading="lazy"/></a>
				<a href="static/assets/IMG_20250202_234406_331.jpg" data-lightbox="models">
					<img  src="static/assets/IMG_20250202_234406_331.jpg"loading="lazy"/></a>
				<a href="static/assets/IMG-20250119-WA0059.jpg" data-lightbox="models">
					<img  src="static/assets/IMG-20250119-WA0059.jpg"loading="lazy"/></a>
				<a href="static/assets/IMG-20250121-WA0028.jpg" data-lightbox="models">
					<img  src="static/assets/IMG-20250121-WA0028.jpg"loading="lazy"/></a>
				<a href="static/assets/IMG_20250118_205008_374.jpg" data-lightbox="models">
					<img  src="static/assets/IMG_20250118_205008_374.jpg"loading="lazy"/></a>
			</div>
		</div>
		<script src="static/lightbox-plus-jquery.min.js"></script>	
</body>
</html>
